<div>
    <div class="grid">
        <div class="item" style="background: #00112211;">
            <app-app-loader name="web-comp-1" src="http://localhost/">
            </app-app-loader>
        </div>
        <div class="item" style="background: #00112211;">
            <app-app-loader name="web-comp-1" src="http://localhost/">
            </app-app-loader>
        </div>
        <div class="item" style="background: #00112211;">
            <app-app-loader name="web-comp-1" src="http://localhost/">
            </app-app-loader>
        </div>
        <div class="item" style="background: #00112211;">
            <app-app-loader name="web-comp-1" src="http://localhost/">
            </app-app-loader>
        </div>
        <div class="item" style="background: #00112233;">
            <app-wc-loader name="example-component" src="http://localhost/web-comp.js">
            </app-wc-loader>
        </div>
        <div class="item" style="background: #00112288;">1:3</div>
        <div class="item" style="background: #00112299;">2:1</div>
        <div class="item" style="background: #001122aa;">2:2</div>
    </div>
</div>