<div>
    <div class="grid">
        <div class="item" style="background: #00112211;">
            <app-app-with-toolbar src="http://localhost/"></app-app-with-toolbar>
        </div>
        <div class="item" style="background: #00112211;">
            <app-app-with-toolbar src="{{openStreet}}"></app-app-with-toolbar>
        </div>
        <div class="item" style="background: #00112211;">
            <app-app-with-toolbar src="http://localhost/"></app-app-with-toolbar>
        </div>
        <div class="item" style="background: #00112211;">
            <app-app-with-toolbar src="http://localhost/"></app-app-with-toolbar>
        </div>
        <div class="item" style="background: #00112233;">
            <app-wc-with-toolbar name="example-component" src="http://localhost/web-comp.js"></app-wc-with-toolbar>
        </div>
    </div>
</div>