<mat-toolbar>
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #drawer [mode]="'over'" [fixedInViewport]="true"
    fixedTopGap="64">
    <app-side-nav [navOptions]="navs"></app-side-nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-main-grid></app-main-grid>
  </mat-sidenav-content>
</mat-sidenav-container>